<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>HomePage</ion-title>   
  </ion-toolbar>
</ion-header>
<ion-content  [fullscreen]="true"  >
  <ion-row>
    <ion-col>
      <ion-card>
        <ion-card-header collapse="condense">
          <h2 >
            Mobile Legends: Bang Bang
          </h2>
            <ion-avatar >
              <img src="https://play-lh.googleusercontent.com/IhUVzRkz5MokalaeiLulcloc8rxROw0fSPRC7-Lc5zCF_wIfhbxo3qsOjKxYp524B1dY">
            </ion-avatar>
            <br>
         <ion-item class="tex">
          Mobile Legends: Bang Bang, commonly referred to as ML or MLBB, is a mobile multiplayer online battle arena (MOBA) game developed and published by ,
          subsidiary of ByteDance. Released in 2016, the game grew in popularity worldwide, most prominently in Southeast Asia,[4] and has since crossed the 1 
          feat, with peak monthly players of 100 million.[5][6] In 2021, Mobile Legends: Bang Bang achieved an all-time gross of US$1 billion with 44 percent of  
          from outside Asia, making it the top mobile game of its genre with the most global appeal.[7]
           
          At its core, the game pits 2 teams of 5 against each other in real time with at least 10-second matchmaking and 10-minute matches. Featuring traditional  ,
              players must fight over three lanes to take the enemy's tower and defend their own. Like classic MOBAs, there is no hero training to level up or pay to 
              losers are decided based on skill, ability, and strategy.[8]     
      
              Following success, Moonton has tapped into the esports scene with the creation of several regional tournaments dubbed as Mobile Legends: Bang Bang  (MPL)  
              Southeast Asia, Latin America, and Middle East and North Africa regions that serves as a qualifier for the Mobile Legends World Championships where aof 15 countries, 
              including Japan, Russia, and the United States, have participated so far.[9] It was also among the 6 games chosen for the first medal event of esports   2019
              Southeast Asian Games held in the Philippines.[10]
      
              Originally named Mobile Legends: 5v5 MOBA,[11] the initial release of the game in 2016 was met with criticism citing similarities  another  League of Legends.
              In July 2017, Riot Games filed a lawsuit against Moonton for copyright infringement; however, the case was dismissed by the Central District Court of California 
              United States on account of forum non conveniens.[12] Moonton has since then made several remodeling and patch updates for distinction and game improvements.       
         </ion-item>
         <br>   
          <img src="https://play-lh.googleusercontent.com/EqagYDSFddgN6DK_EKTuLSTqVNx2fVSJup3pG085IepL3I-15bz4t-ZipuzIBWMBqRI=w526-h296-rw">
        </ion-card-header>
        <ion-card-content>
            <P>To Registar for the local tournament that we organise click the button below and atart your esport journey</P>
        </ion-card-content>
        <ion-button color="dark" shape="round"  expand="block" routerLink="/registration" class="pulse">
          <ion-icon slot="start" name="document-text"></ion-icon>
          Registar for the tournament
        </ion-button>
        <br>
        <br>
      </ion-card>
    </ion-col>
  </ion-row> 
</ion-content>

