// .form{
//     height: 20px;
//     width: fit-content;
// }
h2{
    font-family: cursive;
    color:black;
    font-size:x-large;
  }
p{
    font-family: cursive;
    color:black;
    font-size: 20px;

}
// ion-content{
//   background-image: url('https://play-lh.googleusercontent.com/IhUVzRkz5MokalaeiLulcloc8rxROw0fSPRC7-Lc5zCF_wIfhbxo3qsOjKxYp524B1dY');
//   -webkit-background-image: url('https://play-lh.googleusercontent.com/IhUVzRkz5MokalaeiLulcloc8rxROw0fSPRC7-Lc5zCF_wIfhbxo3qsOjKxYp524B1dY');
//   background-repeat: no-repeat;
//   background-size:cover;
// }