ion-header{
    font-family: cursive;
    color:gold;
    font-size:30px;
}
h2{
    font-family: cursive;
    color:black;
    font-size:40px;

}
.text{

    font-style: italic;
    font-size: medium;

}
body{
    background-color: black;
}