.tex{
    text-align: justify;
    font-family: Roboto Mono,monospace;
    font-size: small;
  }
  img{
    // padding-left: 10%;
    // height:300px;
    // width:auto;
    align-content: center;

  }
  ion-app{
    background-color: black;
  }
  h2{
    font-family: cursive;
    color:black;
    font-size:40px;
  }